<div x-ng-controller="createAccountController" class="form-style-6">
	<h4>{{headingTitle}}</h4>

	<form class="add-account form-style-9" name="createAccountForm" id="quoteForm">
		<table>
			<tbody>
				<tr>
					<td>Account Holder firstname:</td>
					<td><input class="firstname" id="firstname" name="firstname" type="text"
						x-ng-model="account.accountHolder.firstname" required /> <br/>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.firstname.$error.required">This is a required field</span>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.firstname.$invalid">This field is invalid </span><br/><br/>
						</td>
				</tr>
				<tr>
					<td>Account Holder lastname:</td>
					<td><input class="lastname" id="lastname" name="lastname" type="text"
						x-ng-model="account.accountHolder.lastname" required /> <br/>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.lastname.$error.required">This is a required field</span>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.lastname.$invalid">This field is invalid </span><br/><br/>
						</td>
				</tr>
				<tr>
					<td>Account Holder address:</td>
					<td><input class="address" id="address" name="address" type="text"
						x-ng-model="account.accountHolder.address" required /> <br/>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.address.$error.required">This is a required field</span>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.address.$invalid">This field is invalid </span><br/><br/>
						</td>
				</tr>
				<tr>
					<td>Account Holder date of birth:</td>
					<td><input class="dob" id="dob" name="dob" type="date"
						x-ng-model="account.accountHolder.dateOfBirth" 
						required /> <br/>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.dob.$error.required">This is a required field</span>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.dob.$invalid">This field is invalid </span><br/><br/>
						</td>
				</tr>
				<tr>
					<td>Account Holder e-mail:</td>
					<td><input class="email" id="email" name="email" type="email"
						x-ng-model="account.accountHolder.email" required /> <br/>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.email.$error.required">This is a required field</span>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.email.$invalid">This field is invalid </span><br/><br/>
						</td>
				</tr>
				<tr>
					<td class="lalign"></td>
					<td></td>
				</tr>
				<tr>
					<td>Bank Name:</td>
					<td><input class="bankname" id="bankname" name="bankname" type="text"
						x-ng-model="account.bankDetails.bankname" required /> <br/>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.bankname.$error.required">This is a required field</span>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.bankname.$invalid">This field is invalid </span><br/><br/>
						</td>
				</tr>
				<tr>
					<td>IBAN:</td>
					<td><input class="iban" id="iban" name="iban" type="text"
						x-ng-model="account.bankDetails.iban" required /> <br/>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.iban.$error.required">This is a required field</span>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.iban.$invalid">This field is invalid </span><br/><br/>
						</td>
				</tr>
				<tr>
					<td>BIC:</td>
					<td><input class="bic" id="bic" name="bic" type="text"
						x-ng-model="account.bankDetails.bic" required /> <br/>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.bic.$error.required">This is a required field</span>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.bic.$invalid">This field is invalid </span><br/><br/>
						</td>
				</tr>
				<tr>
					<td>Initial balance:</td>
					<td><input class="balance" id="balance" name="balance" type="text"
						x-ng-model="account.bankDetails.balance" required /> <br/>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.balance.$error.required">This is a required field</span>
						<span x-ng-show="createAccountForm.$dirty && createAccountForm.balance.$invalid">This field is invalid </span><br/><br/>
						</td>
				</tr>
				<tr>
					<td class="submit"><input type="submit"
						value="Add Bank Account" id="addAccount"
						x-ng-click="createAccount($event);"
						x-ng-disabled="createAccountForm.$invalid" />
						</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>