<div x-ng-controller="createAccountController" class="form-style-6">
	<h4>{{headingTitle}}</h4>
	<div>
		<table>
			<tbody>
				<tr>
					<td><span>Enter a bank Name:</span> <input
						id="bankname" name="bankname" type="text"
						x-ng-model="account.bankDetails.bankname" size="20" /></td>
				</tr>
				<tr>
					<td><input type="button"
						value="Search the accounts" id="searchAccount"
						x-ng-click="listAllAccountsByBankName(account.bankDetails.bankname);"
						x-ng-disabled="account.bankDetails.bankname === ''" /></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div x-ng-repeat="account in listAccounts">
		<div id="list2">
			<ol>
				<li><p>
						<em>Bank Name:{{account.bankname}}</em>
					</p></li>
				<li><p>
						<em>Bank IBAN: {{account.iban}}</em>
					</p></li>
				<li><p>
						<em>Bank BIC: {{account.bic}}</em>
					</p></li>
				<li><p>
						<em>Balance: {{account.balance}}</em>
					</p></li>
			</ol>
			<ol style="list-style: none;" x-ng-if="!$last"><li><p><em>&nbsp;</em></p></li></ol>			
		</div>
	</div>
</div>